.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.imgStyle {
  width: 370px;
  margin-top: 50px;
}

@media (max-width: 770px){
  .App {
    margin: 0 10%;
  }
  .imgStyle {
    width: 100%;
  }
}
